body {
    background-color: black;
}

h1 {
    color: #f3ff47;
}

p {
    color: #cfcfcf;
}

.title {
    text-align: center;
    font-size: 60px;
    vertical-align: top;
    display: inline-block;
    width: 35%;
}

.content {
    width: 50%-50px;
    font-size: 25px;
    vertical-align: top;
    display: inline-block;
    margin-left: 50px;
    overflow: hiddens;
}

.neon {
    display: inline-block;
    background-color: #71ff57;
    min-width: 3px;
    max-width: 3px;
    min-height: 500px;
    box-shadow: 0 0 25px 2px #71ff57;
}